<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


  <link rel="stylesheet" href="{{ "/assets/main.css " | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
    href="{{ "/feed.xml " | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/solarized-light.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-73B196N29F"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-73B196N29F');
  </script>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
    
  <!-- Add for mathjax -->  
  <script>
    MathJax = {
      tex: {
        tags: 'ams',
        inlineMath: [['$','$'], ['\\(','\\)']],
        macros:{
          inv:["{#1^{-1}}", 1],
          bmatrix:["{\\begin{bmatrix}#1\\end{bmatrix}}", 1],
          pmatrix:["{\\begin{pmatrix}#1\\end{pmatrix}}", 1],
          cases:["{\\begin{cases}#1\\end{cases}}", 1],
          angle:["{\\langle #1 \\rangle}",  1],
          ba:"\\mathbf{a}",
          bb:"\\mathbf{b}",
          be:"\\mathbf{e}",
          bff:"\\mathbf{f}",
          bg:"\\mathbf{g}",
          bh:"\\mathbf{h}",
          br:"\\mathbf{r}",
          bu:"\\mathbf{u}",
          hbu:"\\widehat{\\mathbf{u}}",
          bv:"\\mathbf{v}",
          hbv:"\\widehat{\\mathbf{v}}",
          bw:"\\mathbf{w}",
          hbw:"\\widehat{\\mathbf{w}}",
          hw:"\\widehat{w}",
          bx:"\\mathbf{x}",
          by:"\\mathbf{y}",
          hy:"\\wh{y}",
          bz:"\\mathbf{z}",
          bA:"\\mathbf{A}",
          hA:"\\widehat{A}",
          hbA:"\\widehat{\\mathbf{A}}",
          bB:"\\mathbf{B}",
          bC:"\\mathbf{C}",
          bD:"\\mathbf{D}",
          bE:"\\mathbf{E}",
          bF:"\\mathbf{F}",
          bG:"\\mathbf{G}",
          bH:"\\mathbf{H}",
          bI:"\\mathbf{I}",
          bL:"\\mathbf{L}",
          bQ:"\\mathbf{Q}",
          bR:"\\mathbf{R}",
          bS:"\\mathbf{S}",
          bU:"\\mathbf{U}",
          hbU:"\\widehat{\\mathbf{U}}",
          bV:"\\mathbf{V}",
          bP:"\\mathbf{P}",
          bW:"\\mathbf{W}",
          bK:"\\mathbf{K}",
          bX:"\\mathbf{X}",
          bXM:"\\mathbf{X}_{\\widehat{\\mathcal{M}}}",
          bY:"\\mathbf{Y}",
          hbY:"\\widehat{\\bY}",
          bZ:"\\mathbf{Z}",
          bone:"\\mathbf{1}",
          bzero:"\\mathbf{0}",
          bveps:"\\boldsymbol{\\varepsilon}",
          balpha:"\\boldsymbol{\\alpha}",
          bbeta:"\\boldsymbol{\\beta}",
          bdelta:"\\boldsymbol{\\delta}",
          btheta:"\\boldsymbol{\\theta}",
          bTheta:"\\boldsymbol{\\Theta}",
          bgamma:"\\boldsymbol{\\gamma}",
          bGamma:"\\boldsymbol{\\Gamma}",
          bDelta:"\\boldsymbol{\\Delta}",
          bLam:"\\boldsymbol{\\Lambda}",
          bPsi:"\\boldsymbol{\\Psi}",
          hpsi:"\\widehat{\\psi}",
          bet:"\\boldsymbol{\\eta}",
          bxi:"\\boldsymbol{\\xi}",
          bleta:"\\boldsymbol{\\eta}",
          bvarphi:"\\boldsymbol{\\varphi}",
          bmu:"\\boldsymbol{\\mu}",
          bzeta:"\\boldsymbol{\\zeta}",
          bSig:"\\boldsymbol{\\Sigma}",
          hbSig:"\\widehat{\\boldsymbol{\\Sigma}}",
          bomega:"\\boldsymbol{\\omega}",
          bOmg:"\\boldsymbol{\\Omega}",
          hbOmg:"\\widehat{\\boldsymbol{\\Omega}}",
          bPi:"\\boldsymbol{\\Pi}",
          hbC:"\\widehat{\\bC}",
          hsig:"\\widehat{\\sigma}",
          hbB:"\\widehat{\\bB}",
          hbE:"\\widehat{\\bE}",
          hbZ:"\\widehat{\\bZ}",
          hvar:"\\widehat{\\var}",
          hcov:"\\widehat{\\cov}",
          hbveps:"\\widehat\\bveps",
          hbbeta:"\\widehat\\bbeta",
          tbbeta:"\\widetilde\\bbeta",
          tbeta:"\\widetilde\\beta",
          hdelta:"\\hat{\\delta}",
          hbdelta:"\\widehat{\\bdelta}",
          hbgamma:"\\widehat{\\bgamma}",
          hbtheta:"\\widehat{\\btheta}",
          hbeta:"\\widehat{\\beta}",
          hbmu:"\\widehat{\\bmu}",
          hbxi:"\\widehat{\\bxi}",
          tbSig:"\\widetilde{\\bSig}",
          std:"\\operatorname{std}",
          var:"\\operatorname{var}",
          cov:"\\operatorname{cov}",
          corr:"\\operatorname{corr}",
          veps:"\\varepsilon",
          tr:"\\operatorname{tr}",
          diag:"\\operatorname{diag}",
          vecc:"\\operatorname{vec}",
          vech:"\\operatorname{vech}",
          rank:"\\operatorname{rank}",
          sgn:"\\operatorname{sgn}",
          supp:"\\operatorname{supp}",
          spark:"\\operatorname{spark}",
          event:"\\mathcal{E}",
          los:"{\\mathcal{L}",
          EE:"\\mb{E}",
          PP:"\\mb{P}",
          dataset:"{\\calD}",
          fracpartial:["\\frac{\\partial #1}{\\partial #2}", 2],
          op:"o_P",
          Op:"O_p",
          sfnorm:["\\left\\|#1\\right\\|_{\\mathrm{F}}", 1],
          fnorm:["\\|#1\\|_{\\mathrm{F}}", 1],
          fprod:["\\langle #1,#2\\rangle_{\\mathrm{F}}", 2],
          normal:"\\mathcal{N}",
          t:"^\\mathrm{T}",
          Th:"^\\mathrm{th}",
          expect:"\\mathbb{E}",
          prob:"\\mathbb{P}",
          pr:"\\operatorname{Pr}",
          toD:"\\overset{\\mathscr{D}}{\\longrightarrow}",
          toP:"\\overset{\\mathrm{P}}{\\longrightarrow}",
          toas:"\\overset{\\mathrm{a.s.}}{\\longrightarrow}",
          sumno:"\\sum\\nolimits",
          // eqref:[ "\\href{###1}{(\\text{#1})}", 1],
          // ref:[ "\\href{###1}{\\text{#1}}", 1],
          // label:[ "\\htmlId{#1}{}", 1],
          abs: "\\operatorname{abs}"
        }
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
</head>