---
# Only the main Sass file needs front matter (the dashes are enough)
---
$content-width: 60%; 

@import "minima";

.post-title {
  @include relative-font-size(1.6);

  @include media-query($on-laptop) {
    @include relative-font-size(1.6);
  }
}

.post-link {
  @include relative-font-size(1.2);
}

.site-title {
  @include relative-font-size(1.45);
}

